.tabs {
	// .tabs__navigation
	&__navigation {
		display: flex;
		gap: toRem(10);
	}

	// .tabs__title
	&__title {
		font-weight: 500;
		min-height: toRem(48);
		padding: toRem(12) toRem(25);
		border: toRem(1) solid $Grey7;
		background-color: $White;
		transition: $transition ease all 0s;

		@media (any-hover: hover) {
			&:hover {
				color: $Primary2;
				box-shadow: 0 5px 10px 0 rgba(39, 44, 50, 0.04);
			}
		}

		&._tab-active {
			background-color: $Primary2;
			color: $White;
			border-color: $Primary2;
		}
	}

	// .tabs__content
	&__content {
	}

	// .tabs__body
	&__body {
	}
}
