//<BUTTONS (a.btn+tab)>
// Сниппет (HTML): btn

.btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: toRem(10);
	text-align: center;
	padding: toRem(12) toRem(20);

	@media (any-hover: hover) {
		&:hover {
		}
	}

	// .btn_bg-primary1
	&_bg-primary1 {
		background-color: $Primary1;
		color: $White;

		svg {
			fill: $White;
		}

		@media (any-hover: hover) {
			transition: $transition ease opacity 0s;
			&:hover {
				opacity: 0.9;
			}
		}
	}

	// .btn_bg-primary2
	&_bg-primary2 {
		background-color: $Primary2;
		color: $White;

		svg {
			fill: $White;
		}

		@media (any-hover: hover) {
			transition: $transition ease opacity 0s;
			&:hover {
				opacity: 0.9;
			}
		}
	}

	// .btn_bg-white
	&_bg-white {
		font-weight: 500;
		background-color: $White;
		color: $Grey1;

		svg {
			fill: $Grey1;
		}

		@media (any-hover: hover) {
			transition: $transition ease all 0s;
			&:hover {
				color: $White;
				background-color: $Primary1;
			}
		}
	}

	// .btn_bg-grey
	&_bg-grey {
		background-color: $Grey9;

		@media (any-hover: hover) {
			transition: $transition ease all 0s;
			&:hover {
				color: $White;
				background-color: $Primary1;
			}
		}
	}

	// .btn_bg-grey8
	&_bg-grey8 {
		color: $Grey2;
		background-color: $Grey8;

		svg {
			fill: $Grey2;
			transition: $transition ease fill 0s;
		}

		@media (any-hover: hover) {
			transition: $transition ease all 0s;
			&:hover {
				color: $White;
				background-color: $Primary1;

				svg {
					fill: $White;
				}
			}
		}
	}

	// .btn_bg-green
	&_bg-green {
		background-color: $Green;
		color: $White;

		@media (any-hover: hover) {
			transition: $transition ease opacity 0s;
			&:hover {
				opacity: 0.8;
			}
		}
	}

	// .btn_bg-yellow
	&_bg-yellow {
		background-color: $Yellow;

		@media (any-hover: hover) {
			transition: $transition ease opacity 0s;
			&:hover {
				opacity: 0.8;
			}
		}
	}

	// .btn_border-grey
	&_border-grey {
		color: $Primary2;
		border: toRem(1) solid $Grey6;

		svg {
			fill: $Primary2;
			transition: $transition ease fill 0s;
		}

		@media (any-hover: hover) {
			transition: $transition ease all 0s;
			&:hover {
				background-color: $Primary2;
				color: $White;

				svg {
					fill: $White;
				}
			}
		}
	}

	// .btn_border-primary2
	&_border-primary2 {
		color: $Primary2;
		border: toRem(1) solid $Primary2;

		svg {
			fill: $Primary2;
			transition: $transition ease fill 0s;
		}

		@media (any-hover: hover) {
			transition: $transition ease all 0s;
			&:hover {
				background-color: $Primary2;
				color: $White;

				svg {
					fill: $White;
				}
			}
		}
	}
}

.text-link {
	font-weight: 500;
	font-size: toRem(14);
	line-height: math.div(20, 14);
	color: $Primary2;

	text-decoration: underline transparent from-font;
	text-underline-offset: 3px;
	transition: $transition ease text-decoration 0s;

	@media (any-hover: hover) {
		&:hover {
			text-decoration: underline from-font;
		}
	}
}
