//<INPUT>
// Сниппет (HTML): inp
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.input {
	border-radius: 0 !important;
	width: 100%;
	display: block;
	padding: toRem(11) toRem(20);
	border: 1px solid $Grey3;
	caret-color: inherit;
	font-size: toRem(16);
	line-height: math.div(22, 16);
	color: $mainColor;
	outline: 0;
	background-color: $White;
	transition: $transition ease border-color 0s;

	&._form-focus {
	}
	&._form-error {
		border-color: $Primary1 !important;
	}
}
.input[placeholder]:not([data-placeholder-nohiden]) {
	&::placeholder {
		transition: opacity 0.3s;
	}
	&:focus::placeholder {
		opacity: 0;
	}
}

textarea.input {
	resize: none;
	padding: 0px 0px;
}

.form__error {
	margin-top: toRem(5);
	font-size: toRem(14);
	line-height: math.div(20, 14);
	color: #e64d4d;
}
