//<QUANTITY>
// Сниппет (HTML): qa
.quantity {
	width: toRem(200);
	height: toRem(48);
	display: flex;
	border: 1px solid $Grey6;
	background-color: $Grey9;
	padding: toRem(14) toRem(15);

	// .quantity__button
	&__button {
		flex: 0 0 toRem(20);
		position: relative;
		cursor: pointer;

		&::before,
		&::after {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			transition: all 0.3s ease 0s;
			margin: 0px 0px 0px -4.5px;
			background-color: #a6a6a6;
			width: 9px;
			height: 1px;
		}
		@media (any-hover: hover) {
			&:hover {
				&::before,
				&::after {
					background-color: rgba(0, 0, 0, 0.5);
				}
			}
		}
		// .quantity__button_plus
		&_plus {
			&::before {
				transform: rotate(-90deg);
			}
		}
		// .quantity__button_minus
		&_minus {
		}
	}
	// .quantity__input
	&__input {
		display: flex;
		flex: 1 1 auto;

		input {
			height: 100%;
			width: 100%;
			text-align: center;
			font-weight: 500;
			font-size: toRem(16);
			line-height: math.div(22, 16);
			color: $Grey1;
			outline: 0;
		}
	}
}
