.range-slider {
	// .range-slider__caption
	&__caption {
		font-weight: 500;
		font-size: toRem(16);
		line-height: math.div(22, 16);
		margin-bottom: toRem(10);
	}

	// .range-slider__inputs
	&__inputs {
		display: flex;
		margin-bottom: toRem(15);
	}

	// .range-slider__input
	&__input {
		position: relative;
		display: flex;
		align-items: center;
		gap: toRem(4);
		padding: toRem(8) toRem(10);
		min-height: toRem(42);
		background-color: $White;
		border: 1px solid $Grey6;
		transition: $transition ease all 0s;

		&:last-child {
			border-left: 0;
		}

		input {
			width: 100%;
			font-weight: 500;
			font-size: toRem(16);
			line-height: math.div(22, 16);
			color: $mainColor;
			background-color: $White;
			outline: 0;
		}
	}

	// .range-slider__label
	&__label {
		font-size: toRem(14);
		line-height: math.div(20, 14);
		color: $Grey3;
	}

	// .range-slider__min
	&__min {
	}

	// .range-slider__max
	&__max {
	}

	// .range-slider__range
	&__range {
	}
}

.noUi-target {
	background: $Grey6;
	border: 0;
	border-radius: 0;
	box-shadow: none;
}

.noUi-horizontal {
	height: toRem(2);

	.noUi-handle {
		width: toRem(16);
		height: toRem(16);
		border-radius: 50%;
		border: 0;
		background: $White;
		border: toRem(2) solid $Primary2;
		box-shadow: none;
		right: toRem(-13);
	}
}

.noUi-handle {
	&::before,
	&::after {
		display: none;
	}
}

.noUi-base {
	width: 96%;
}

.noUi-connects {
}

.noUi-connect {
	background: $Primary2;
}

.noUi-origin {
}

.noUi-handle-lower {
}

.noUi-touch-area {
}

.noUi-handle-upper {
}
