.upload {
  // .upload__input
  &__input {
    border: toRem(1) dashed $Primary2;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: toRem(44);
    gap: toRem(15);
    font-weight: 500;
    font-size: toRem(14);
    line-height: math.div(20, 14);
    color: $Primary2;
    text-align: center;
    position: relative;
    overflow: hidden;

    @media (any-hover: hover) {
      transition: $transition ease all 0s;
      &:hover {
        border-color: $Primary1;
        color: $Primary1;

        svg {
          fill: $Primary1;
        }
      }
    }

    svg {
      fill: $Primary2;
      transition: $transition ease fill 0s;
    }

    input {
      display: block;
      height: 100%;
      opacity: 0;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      border: 0;
      cursor: pointer;
      background-color: transparent;
    }
  }
}
