//====================================================================================================
.header {
	position: sticky;
	top: 0;
	z-index: 10;
	box-shadow: 0 5px 10px 0 rgba(39, 44, 50, 0.04);

	// .header__top
	&__top {
	}

	// .header__container
	&__container {
	}

	// .header__menu
	&__menu {
		position: relative;
		z-index: 1;

		@media (max-width: $mobile) {
			display: flex;
			align-items: center;
			gap: toRem(20);
		}
	}

	// .header__bottom
	&__bottom {
	}

	// .header__contact
	&__contact {
		@media (min-width: $mobile) {
			display: none;
		}
		@media (max-width: $mobile) {
			display: flex;
			align-items: center;

			svg {
				flex: 0 0 toRem(24);
				width: toRem(24);
				height: toRem(24);
				fill: $Grey3;
			}
		}
	}
}

.header-top {
	background-color: $Grey9;
	font-size: toRem(14);
	line-height: math.div(20, 14);
	position: relative;
	z-index: 2;

	// .header-top__row
	&__row {
		padding-top: toRem(9);
		padding-bottom: toRem(9);
		min-height: toRem(50);
		display: flex;
		align-items: center;
		gap: toRem(20);
	}

	// .header-top__left
	&__left {
		@media (min-width: toEm(1540)) {
			flex: 0 1 35%;
		}
	}

	// .header-top__location
	&__location {
		@media (max-width: $mobile) {
			padding: toRem(20);
			border-top: toRem(1) solid $Grey7;
			border-bottom: toRem(1) solid $Grey7;
		}
	}

	// .header-top__center
	&__center {
		display: flex;
		align-items: center;
		justify-content: center;

		@media (min-width: toEm(1540)) {
			flex: 1 0 65%;
		}
		@media (max-width: toEm(1540)) {
			flex: 1;
		}
		@media (max-width: $mobile) {
			justify-content: flex-end;
		}
	}

	// .header-top__right
	&__right {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		gap: toRem(20);
		font-weight: 500;
		color: $Primary2;

		@media (min-width: toEm(1540)) {
			flex: 0 1 35%;
		}
		@media (max-width: $mobile) {
			justify-content: space-between;
			padding: toRem(20);
			border-top: toRem(1) solid $Grey7;
			border-bottom: toRem(1) solid $Grey7;
		}

		a {
			@media (any-hover: hover) {
				transition: $transition ease opacity 0s;
				&:hover {
					opacity: 0.7;
				}
			}
		}
	}

	// .header-top__feedback
	&__feedback {
	}

	// .header-top__request
	&__request {
		white-space: nowrap;
		border-bottom: toRem(1) dashed;
	}
}

.location {
	display: flex;

	// .location__button
	&__button {
		display: inline-flex;
		align-items: center;
		gap: toRem(5);

		svg {
			flex: 0 0 toRem(20);
			width: toRem(20);
			height: toRem(20);
			fill: $Grey3;
		}
	}

	// .location__select
	&__select {
		position: fixed;
		top: toRem(40);
		z-index: 2;
		padding: toRem(20) toRem(25);
		background-color: $White;
		box-shadow: 0 10px 30px 0 rgba(57, 64, 83, 0.2);
		width: 100%;
		max-width: toRem(526);
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
		transform: translateY(toRem(5));
		transition: $transition ease all 0s;
		@include adaptiveValue("padding-left", 25, 15, 0, 575, 375);
		@include adaptiveValue("padding-right", 25, 15, 0, 575, 375);

		@media (max-width: $mobileM) {
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			max-width: 100%;
		}

		._location-active & {
			opacity: 1;
			visibility: visible;
			pointer-events: all;
			transform: translateY(0);
		}
	}

	// .location__head
	&__head {
		display: flex;
		align-items: center;
		justify-content: space-between;

		&:not(:last-child) {
			margin-bottom: toRem(20);
		}
	}

	// .location__title
	&__title {
		color: $Grey2;

		span {
			color: $mainColor;
			font-weight: 500;
		}
	}

	// .location__close
	&__close {
		@media (any-hover: hover) {
			transition: $transition ease transform 0s;
			&:hover {
				transform: rotate(180deg);
			}
		}

		svg {
			fill: $Grey2;
		}
	}

	// .location__body
	&__body {
		padding: toRem(20);
		background-color: $Grey9;

		&:not(:last-child) {
			margin-bottom: toRem(20);
		}
	}

	// .location__caption
	&__caption {
		font-weight: 500;
		font-size: toRem(14);
		line-height: math.div(20, 14);
		color: $Grey4;

		&:not(:last-child) {
			margin-bottom: toRem(15);
		}
	}

	// .location__nav
	&__nav {
		display: flex;
		align-items: flex-start;
		flex-wrap: wrap;
		margin-top: toRem(-4);
		margin-bottom: toRem(-4);
		@include adaptiveValue("margin-left", -35, -10);
		@include adaptiveValue("margin-right", -35, -10);
	}

	// .location__list
	&__list {
		display: grid;
		align-content: flex-start;
		row-gap: toRem(8);
		padding-top: toRem(4);
		padding-bottom: toRem(4);
		@include adaptiveValue("padding-left", 35, 10);
		@include adaptiveValue("padding-right", 35, 10);

		a {
			font-size: toRem(14);
			line-height: math.div(20, 14);
			color: $Grey1;

			@media (any-hover: hover) {
				transition: $transition ease all 0s;
				&:hover {
					color: $Primary2;
				}
			}
		}
	}

	// .location__footer
	&__footer {
		text-align: center;
	}

	// .location__note
	&__note {
		font-size: toRem(14);
		line-height: math.div(20, 14);
		color: $Grey4;

		&:not(:last-child) {
			margin-bottom: toRem(10);
		}
	}

	// .location__contacts
	&__contacts {
	}

	// .location__phone
	&__phone {
		font-weight: 500;
	}

	// .location__email
	&__email {
		color: $Primary2;
	}
}

.menu {
	// .menu__icon
	&__icon {
	}

	// .menu__body
	&__body {
		@media (max-width: $mobile) {
			position: fixed;
			top: toRem(125);
			bottom: toRem(70);
			left: 0;
			right: 0;
			background-color: $White;
			overflow-y: auto;
			overflow-x: hidden;
			display: flex;
			flex-direction: column;
			opacity: 0;
			visibility: hidden;
			pointer-events: none;
			z-index: 5;
			transition: 0.5s ease all 0s;

			&::before {
				content: "";
				position: fixed;
				left: -100%;
				right: 0;
				top: 0;
				background-color: $White;
				opacity: 0;
				visibility: hidden;
				pointer-events: none;
				z-index: 7;
				transition: 0.5s ease all 0s;
			}

			.menu-open & {
				opacity: 1 !important;
				visibility: visible;
				pointer-events: all;

				&::before {
					opacity: 1 !important;
					visibility: visible;
					left: 0;
				}
			}
		}

		& > ul {
			@media (min-width: $mobile) {
				display: flex;
				align-items: center;
				gap: toRem(20);
			}
			@media (max-width: $mobile) {
				padding: toRem(20);
			}
		}
	}

	// .menu__item
	&__item {
		@media (max-width: $mobile) {
			&:not(:last-child) {
				margin-bottom: toRem(15);
			}
		}

		& > a {
			@media (min-width: $mobile) {
				padding-top: toRem(6);
				padding-bottom: toRem(6);
			}
			@media (max-width: $mobile) {
				font-size: toRem(16);
			}

			@media (any-hover: hover) {
				transition: $transition ease color 0s;
				&:hover {
					color: $Primary2;
				}
			}
		}

		// .menu__item_has-children
		&_has-children {
			position: relative;

			@media (min-width: $mobile) {
				display: flex;
				align-items: center;
				gap: toRem(5);
			}
			@media (max-width: $mobile) {
				position: relative;
			}

			& > .menu__arrow {
				transition: $transition ease transform 0s;

				@media (max-width: $mobile) {
					position: absolute;
					top: toRem(3);
					right: 0;
				}

				svg {
					flex: 0 0 toRem(16);
					width: toRem(16);
					height: toRem(16);
					fill: $Grey3;
				}
			}

			& > ul {
				@media (min-width: $mobile) {
					position: absolute;
					background-color: $White;
					box-shadow: 0 10px 30px 0 rgba(57, 64, 83, 0.2);
					bottom: 0;
					transform: translateY(100%);
					padding: toRem(10);
					opacity: 0;
					visibility: hidden;
					pointer-events: none;
					transition: $transition ease all 0s;

					a {
						position: relative;
						display: block;
						background-color: $White;
						padding: toRem(9) toRem(15);

						@media (any-hover: hover) {
							transition: $transition ease all 0s;

							&:hover {
								font-weight: 500;
								background-color: $Grey8;
							}
						}
					}

					.menu__sub-list {
						position: absolute;
						top: 0;
						left: calc(100% + toRem(10));
						bottom: initial;
						transform: translateY(0);
					}
				}
				@media (min-width: toEm(1280)) {
					min-width: toRem(255);
				}
			}

			&._hover {
				& > ul {
					opacity: 1 !important;
					visibility: visible !important;
					pointer-events: all !important;
				}

				& > .menu__arrow {
					svg {
						transform: rotate(180deg);
					}
				}
			}

			@media (any-hover: hover) {
				&:hover {
					& > .menu__arrow {
						transform: rotate(180deg);
					}

					& > ul {
						opacity: 1 !important;
						visibility: visible !important;
						pointer-events: all !important;
					}
				}
			}

			.menu__item_has-children {
				justify-content: space-between;

				&._hover {
					& > .menu__arrow {
						@media (min-width: $mobile) {
							svg {
								transform: rotate(-90deg);
							}
						}
					}
				}

				@media (any-hover: hover) {
					&:hover {
						& > .menu__arrow {
							@media (min-width: $mobile) {
								transform: rotate(-90deg);
							}
						}
					}
				}
			}
		}

		// .menu__item_more
		&_more {
			@media (min-width: $mobile) {
				.menu__arrow {
					display: flex;
					align-items: center;
					gap: toRem(5);
				}
			}
			@media (min-width: toEm(1320)) {
				display: none;
			}
			@media (max-width: $mobile) {
				& > .menu__arrow {
					display: none;

					& + .menu__arrow {
						display: none;
					}
				}
			}
		}
	}

	// .menu__button
	&__button {
	}

	// .menu__arrow
	&__arrow {
		svg {
			transition: $transition ease transform 0s;
		}
	}

	// .menu__sub-list
	&__sub-list {
	}
}

.header-bottom {
	background-color: $White;

	// .header-bottom__row
	&__row {
		min-height: toRem(75);
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: toRem(30);
	}

	// .header-bottom__logo
	&__logo {
		@include adaptiveValue("max-width", 263, 165, 0, 1024, 768);
	}

	// .header-bottom__catalog
	&__catalog {
		flex: 1;
		display: flex;
		align-items: center;
		gap: toRem(15);
	}

	// .header-bottom__search
	&__search {
		flex: 1;
	}

	// .header-bottom__contacts
	&__contacts {
		@include adaptiveValue("gap", 30, 15, 0, 1920, 1480);

		@media (min-width: $mobile) {
			display: flex;
			align-items: flex-start;
		}
		@media (max-width: $mobile) {
			padding: toRem(20);
			display: grid;
			align-content: flex-start;
			row-gap: toRem(20);
		}
	}

	// .header-bottom__actions
	&__actions {
		display: flex;
		align-items: flex-start;
		gap: toRem(15);

		@media (max-width: $tablet) {
			position: fixed;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: $White;
			min-height: toRem(70);
			justify-content: center;
			box-shadow: 0 -5px 10px 0 rgba(39, 44, 50, 0.05);
			padding: toRem(10) toRem(20);
			align-items: center;
			z-index: 1;
			@include adaptiveValue("column-gap", 100, 19, 0, 1024, 375);
		}
	}

	// .header-bottom__action
	&__action {
	}
}

.logo {
	display: flex;
	align-items: center;

	// .logo__link
	&__link {
		@media (any-hover: hover) {
			transition: $transition ease opacity 0s;
			&:hover {
				opacity: 0.8;
			}
		}
	}
}

.header-catalog {
	position: relative;
	z-index: 1;

	// .header-catalog__button
	&__button {
		transition: $transition ease all 0s;
		
		._catalog-show & {
			background-color: #1a73e8;
		}
	}

	// .header-catalog__button-icon
	&__button-icon {
		width: toRem(20);
		flex: 0 0 toRem(20);
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;

		img {
			position: absolute;
			transition: $transition ease all 0s;

			&:last-child {
				opacity: 0;
			}

			._catalog-show & {
				transform: rotate(180deg);

				&:first-child {
					opacity: 0;
				}
				&:last-child {
					opacity: 1;
				}
			}
		}
	}

	// .header-catalog__wrapper
	&__wrapper {
		width: 100%;
		max-width: toRem(1456);
		position: fixed;
		left: 0;
		background-color: $White;
		box-shadow: 0 5px 10px 0 rgba(39, 44, 50, 0.04);
		max-width: 100%;
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
		transition:
			$transition ease opacity,
			$transition visibility,
			$transition pointer-events 0s;

		@media (min-width: $mobile) {
			padding: toRem(20);
			top: toRem(125);
			min-height: toRem(660);
			display: none;
		}
		@media (max-width: $mobile) {
			top: 0;
			bottom: toRem(70);
			overflow-y: auto;
		}

		._catalog-show & {
			display: block;
			opacity: 1;
			visibility: visible;
			pointer-events: all;
		}

		@media (min-width: $tablet) {
			@include adaptiveValue("max-width", 1456, 984, 0, 1496, 1024);
			left: var(--distance-header-to-left);
		}
	}

	// .header-catalog__menu
	&__menu {
		position: relative;

		@media (max-width: $mobile) {
			padding-bottom: toRem(20);
		}

		& > .header-catalog__title {
			@media (min-width: $mobile) {
				display: none;
			}
			@media (max-width: $mobile) {
				padding: toRem(20) toRem(15);
				border-bottom: toRem(1) solid $Grey7;
				margin-bottom: 0 !important;
			}
		}
	}

	// .header-catalog__close
	&__close {
		@media (min-width: $mobile) {
			display: none;
		}
		@media (max-width: $mobile) {
			position: absolute;
			top: toRem(10);
			right: toRem(10);
			z-index: 2;

			svg {
				fill: $Grey2;
			}
		}
	}

	// .header-catalog__card
	&__card {
		@media (max-width: $mobile) {
			&._active {
				position: relative;
				z-index: 1;
			}
		}
	}

	// .header-catalog__category
	&__category {
		font-weight: 500;
		line-height: math.div(24, 18);
		padding: toRem(12) toRem(15);
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: toRem(4);
		width: 100%;
		cursor: pointer;
		transition: $transition ease all 0s;
		@include adaptiveValue("font-size", 18, 16, 0, 1496, 1024);

		@media (min-width: $mobile) {
			max-width: percent(480, 1416);
		}
		@media (max-width: $mobile) {
			padding: toRem(15);
			border-bottom: toRem(1) solid $Grey7;
		}

		@media (any-hover: hover) {
			&:hover {
				background-color: $Grey9;
				color: $Primary2;

				svg {
					fill: $Primary2;
				}
			}
		}

		svg {
			flex: 0 0 toRem(20);
			width: toRem(20);
			height: toRem(20);
			transform: rotate(-90deg);
			fill: $Grey2;
			transition: $transition ease fill 0s;
		}

		._active & {
			@media (min-width: $mobile) {
				background-color: $Grey9;
				color: $Primary2;

				svg {
					fill: $Primary2;
				}
			}
		}
	}

	// .header-catalog__scheme
	&__scheme {
		display: grid;
		top: 0;
		display: none !important;
		opacity: 0;
		visibility: hidden;
		pointer-events: none;

		@media (min-width: $mobile) {
			position: absolute;
			left: percent(480, 1416);
			width: 100%;
			max-width: percent(936, 1416);
			min-height: toRem(620);

			._active & {
				display: grid !important;
				opacity: 1;
				visibility: visible;
				pointer-events: all;
			}
		}
		@media (min-width: $tablet) {
			grid-template-columns: 1fr percent(433, 936);
		}
		@media (max-width: $mobile) {
			position: fixed;
			left: 0;
			right: 0;
			bottom: toRem(70);
			background-color: $White;
			padding: toRem(15);
			padding-bottom: toRem(30);
			overflow-y: auto;

			._card-show & {
				display: grid !important;
				opacity: 1;
				visibility: visible;
				pointer-events: all;
				z-index: 1;
			}
		}
	}

	// .header-catalog__main
	&__main {
		display: flex;
		flex-direction: column;

		@media (min-width: $mobile) {
			border-left: toRem(1) solid $Grey7;
			@include adaptiveValue("padding-left", 30, 12, 0, 1496, 1024);
			@include adaptiveValue("margin-left", 30, 12, 0, 1496, 1024);
		}
	}

	// .header-catalog__back
	&__back {
		@media (min-width: $mobile) {
			display: none;
		}
		@media (max-width: $mobile) {
			font-weight: 500;
			font-size: toRem(14);
			line-height: math.div(20, 14);
			display: inline-flex;
			align-items: center;
			gap: toRem(10);

			&:not(:last-child) {
				margin-bottom: toRem(20);
			}

			svg {
				transform: rotate(90deg);
				fill: $Grey2;
			}
		}
	}

	// .header-catalog__title
	&__title {
		&:not(:last-child) {
			margin-bottom: toRem(20);
		}
	}

	// .header-catalog__list
	&__list {
		flex: 1;

		&:not(:last-child) {
			margin-bottom: toRem(30);
		}

		@media (min-width: $mobile) {
			display: grid;
			align-content: flex-start;
			row-gap: toRem(10);
		}
		@media (max-width: $mobile) {
			& > li {
				&:last-child {
					a {
						border-bottom: toRem(1) solid $Grey7;
					}
				}
			}
		}

		a {
			display: block;
			font-weight: 500;
			line-height: math.div(24, 18);
			@include adaptiveValue("font-size", 18, 16, 0, 1496, 1024);

			@media (max-width: $mobile) {
				padding: toRem(15);
				margin-left: toRem(-15);
				margin-right: toRem(-15);
				border-top: toRem(1) solid $Grey7;
			}

			@media (any-hover: hover) {
				transition: $transition ease color 0s;
				&:hover {
					color: $Primary2;
				}
			}
		}
	}

	// .header-catalog__footer
	&__footer {
	}

	// .header-catalog__caption
	&__caption {
		font-weight: 500;
		color: $Grey1;
		&:not(:last-child) {
			margin-bottom: toRem(15);
		}
	}

	// .header-catalog__items
	&__items {
		display: flex;
		flex-wrap: wrap;
		margin: toRem(-4);
	}

	// .header-catalog__item
	&__item {
		padding: toRem(4);
		a {
			min-height: toRem(36);
			padding: toRem(6) toRem(15);
			font-weight: 500;
			font-size: toRem(14);
			line-height: math.div(20, 14);
		}
	}

	// .header-catalog__offer
	&__offer {
		@media (min-width: $tablet) {
			display: flex;
			flex-direction: column;
			gap: toRem(20);

			&:not(:first-child) {
				border-left: toRem(1) solid $Grey7;
				@include adaptiveValue("padding-left", 30, 12, 0, 1496, 1024);
				@include adaptiveValue("margin-left", 30, 12, 0, 1496, 1024);
			}
		}
		@media (max-width: $tablet) {
			display: none;
		}
	}

	// .header-catalog__chapters
	&__chapters {
		@media (min-width: $tablet) {
			flex: 1;
			display: flex;
			align-content: flex-start;
			flex-wrap: wrap;
			margin: toRem(-2.5);
		}
	}

	// .header-catalog__chapter
	&__chapter {
		@media (min-width: $tablet) {
			padding: toRem(2.5);

			a {
				min-height: toRem(48);
			}
		}
	}

	// .header-catalog__banner
	&__banner {
	}
	a.header-catalog__banner {
		@media (any-hover: hover) {
			transition: $transition ease opacity 0s;
			&:hover {
				opacity: 0.8;
			}
		}
	}
}

.search {
	// .search__form
	&__form {
		position: relative;
	}

	// .search__input
	&__input {
		input {
			border-color: $Grey6;
		}
	}

	// .search__submit
	&__submit {
		position: absolute;
		top: 50%;
		right: toRem(20);
		transform: translateY(-50%);

		svg {
			flex: 0 0 toRem(24);
			width: toRem(24);
			height: toRem(24);
			fill: $Grey2;
		}
	}
}

.header-contacts {
	@media (min-width: $mobile) and (max-width: toEm(1480)) {
		display: none;
	}

	// .header-contacts__item
	&__item {
	}

	// .header-contacts__main
	&__main {
		display: flex;
		align-items: flex-start;
		gap: toRem(5);
	}

	// .header-contacts__icon
	&__icon {
		margin-right: toRem(5);
		@include adaptiveValue("margin-right", 5, 0, 0, 1920, 1480);

		svg {
			flex: 0 0 toRem(24);
			width: toRem(24);
			height: toRem(24);
			fill: $Grey3;
		}
	}

	// .header-contacts__contact
	&__contact {
	}

	// .header-contacts__value
	&__value {
		font-weight: 500;
	}
	a.header-contacts__value {
		@media (any-hover: hover) {
			transition: $transition ease color 0s;
			&:hover {
				color: $Primary2;
			}
		}
	}

	// .header-contacts__label
	&__label {
		color: $Grey3;
		font-size: toRem(14);
		line-height: math.div(20, 14);
	}

	// .header-contacts__more
	&__more {
		transition: $transition ease transform 0s;

		svg {
			flex: 0 0 toRem(16);
			width: toRem(16);
			height: toRem(16);
			fill: $Grey3;
		}

		._active & {
			transform: rotate(180deg);
		}
	}

	// .header-contacts__popup
	&__popup {
		position: absolute;
		background-color: $White;
		box-shadow: 0 10px 30px 0 rgba(57, 64, 83, 0.2);
		padding: toRem(25);
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
		transition: $transition ease all 0s;

		@media (max-width: $tablet) {
			display: none;
		}

		._active & {
			opacity: 1;
			visibility: visible;
			pointer-events: all;
			display: block;
		}

		.header-contacts__contact {
			&:not(:last-child) {
				margin-bottom: toRem(10);
			}
		}
	}

	// .header-contacts__socials
	&__socials {
		display: flex;
		align-items: center;
		gap: toRem(15);

		&:not(:last-child) {
			margin-bottom: toRem(20);
		}
	}

	// .header-contacts__request
	&__request {
		&:not(:first-child) {
			margin-top: toRem(20);
		}

		.btn {
			min-height: toRem(50);
			width: 100%;
		}
	}
}

.action-item {
	display: grid;
	align-content: flex-start;
	row-gap: toRem(2);

	@media (any-hover: hover) {
		&:hover {
			.action-item__icon svg {
				fill: $Primary1;
			}
		}
	}

	// .action-item__icon
	&__icon {
		display: flex;
		align-items: center;
		justify-content: center;

		svg {
			flex: 0 0 toRem(24);
			width: toRem(24);
			height: toRem(24);
			transition: $transition ease fill 0s;
		}
	}

	// .action-item__caption
	&__caption {
		line-height: math.div(20, 14);
		@include adaptiveValue("font-size", 14, 12, 0, 1024, 375);
	}

	// .action-item_home
	&_home {
		@media (min-width: $tablet) {
			display: none;
		}
	}
}

//====================================================================================================

//Burger
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: toRem(30);
		height: toRem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: toRem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - toRem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - toRem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - toRem(1));
				transform: rotate(45deg);
			}
		}
	}
}
