// .main-slider     ====================================================================================================
.main-slider {
  // .main-slider__container
  &__container {
  }

  // .main-slider__slider
  &__slider {
    position: relative;
  }

  // .main-slider__wrapper
  &__wrapper {
  }

  .swiper-arrow {
    @media (max-width: $tablet) {
      display: none;
    }
  }

  // .main-slider__slide
  &__slide {
    position: relative;
  }

  // .main-slider__bg
  &__bg {
    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: -1;
    }
  }

  // .main-slider__scheme
  &__scheme {
    max-width: toRem(1650);
    min-height: toRem(500);

    padding-top: toRem(50);
    padding-bottom: toRem(35);

    @media (min-width: $mobile) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: toRem(20);
    }
    @media (min-width: $tablet) {
      @include adaptiveValue("padding-left", 146, 100, 0, 1920, 1024);
      @include adaptiveValue("padding-right", 146, 100, 0, 1920, 1024);
    }
    @media (max-width: $tablet) {
      padding: toRem(30) toRem(15);
    }
  }

  // .main-slider__body
  &__body {
    @media (min-width: $tablet) {
      @include adaptiveValue("max-width", 696, 491, 0, 1920, 1024);
    }
    @media (min-width: $mobile) and (max-width: $tablet) {
      @include adaptiveValue("max-width", 491, 400, 0, 1024, 768);
    }
    @media (max-width: $mobile) {
      margin-bottom: toRem(20);
    }
  }

  // .main-slider__tag
  &__tag {
    display: inline-flex;
    align-items: center;
    gap: toRem(10);
    padding: toRem(10) toRem(15);
    background-color: $White;
    font-weight: 500;
    font-size: toRem(14);
    line-height: math.div(20, 14);
    color: $Primary2;

    &:not(:last-child) {
      margin-bottom: toRem(20);
    }
  }

  // .main-slider__title
  &__title {
    &:not(:last-child) {
      margin-bottom: toRem(30);
    }
  }

  // .main-slider__button
  &__button {
    .btn {
      min-height: toRem(60);
      font-size: toRem(18);
      line-height: math.div(24, 18);
      padding: toRem(15) toRem(25) toRem(15) toRem(30);

      svg {
        flex: 0 0 toRem(20);
        width: toRem(20);
        height: toRem(20);
        transform: rotate(-90deg);
        fill: $White;
      }
    }
  }

  // .main-slider__image
  &__image {
    @media (min-width: $mobile) {
      max-width: toRem(424);
    }
    @media (max-width: $mobile) {
      display: flex;
      justify-content: center;
    }
  }
}

//====================================================================================================
