// .main-slider     ====================================================================================================
.main-slider {
  // .main-slider__container
  &__container {
  }

  // .main-slider__slider
  &__slider {
    position: relative;

    .swiper-arrow {
      position: absolute;
      top: 50%;

      @media (any-hover: hover) {
        &:hover {
          &:not(.swiper-button-disabled) {
            svg {
              fill: rgba($color: $mainColor, $alpha: 0.5);
            }
          }
        }
      }

      @media (max-width: $tablet) {
        display: none;
      }

      svg {
        transition: $transition ease fill 0s;
      }

      // .swiper-arrow_prev
      &_prev {
        transform: rotate(-180deg) translateY(calc(50% + toRem(23.5)));
        @include adaptiveValue("left", 40, 15, 0, 1920, 1024);
      }

      // .swiper-arrow_next
      &_next {
        transform: translateY(calc(-50% - toRem(23.5)));
        @include adaptiveValue("right", 40, 15, 0, 1920, 1024);
      }
    }
  }

  // .main-slider__wrapper
  &__wrapper {
  }

  // .main-slider__slide
  &__slide {
    position: relative;
  }

  // .main-slider__banner
  &__banner {
    aspect-ratio: 375 / 500;

    @media (min-width: $mobile) {
      aspect-ratio: 900 / 500;
    }
    @media (min-width: toEm(1280)) {
      aspect-ratio: 1759 / 500;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  // .main-slider__bg
  &__bg {
    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: -1;
    }
  }

  // .main-slider__scheme
  &__scheme {
    max-width: toRem(1650);
    min-height: toRem(500);

    padding-top: toRem(50);
    padding-bottom: toRem(35);

    @media (min-width: $mobile) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: toRem(20);
    }
    @media (min-width: $tablet) {
      @include adaptiveValue("padding-left", 146, 100, 0, 1920, 1024);
      @include adaptiveValue("padding-right", 146, 100, 0, 1920, 1024);
    }
    @media (max-width: $tablet) {
      padding: toRem(30) toRem(15);
    }
  }

  // .main-slider__body
  &__body {
    @media (min-width: $tablet) {
      @include adaptiveValue("max-width", 696, 491, 0, 1920, 1024);
    }
    @media (min-width: $mobile) and (max-width: $tablet) {
      @include adaptiveValue("max-width", 491, 400, 0, 1024, 768);
    }
    @media (max-width: $mobile) {
      margin-bottom: toRem(20);
    }
  }

  // .main-slider__tag
  &__tag {
    display: inline-flex;
    align-items: center;
    gap: toRem(10);
    padding: toRem(10) toRem(15);
    background-color: $White;
    font-weight: 500;
    font-size: toRem(14);
    line-height: math.div(20, 14);
    color: $Primary2;

    &:not(:last-child) {
      margin-bottom: toRem(20);
    }
  }

  // .main-slider__title
  &__title {
    &:not(:last-child) {
      margin-bottom: toRem(30);
    }
  }

  // .main-slider__button
  &__button {
    .btn {
      min-height: toRem(60);
      font-size: toRem(18);
      line-height: math.div(24, 18);
      padding: toRem(15) toRem(25) toRem(15) toRem(30);

      svg {
        flex: 0 0 toRem(20);
        width: toRem(20);
        height: toRem(20);
        transform: rotate(-90deg);
        fill: $White;
      }
    }
  }

  // .main-slider__image
  &__image {
    @media (min-width: $mobile) {
      max-width: toRem(424);
    }
    @media (max-width: $mobile) {
      display: flex;
      justify-content: center;
    }
  }
}

// .widget-catalog     ====================================================================================================
.widget-catalog {
  // .widget-catalog__container
  &__container {
  }

  // .widget-catalog__heading
  &__heading {
  }

  // .widget-catalog__title
  &__title {
  }

  // .widget-catalog__cards
  &__cards {
    display: grid;
    gap: toRem(10);

    @media (min-width: $mobileSmall) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (min-width: $mobile) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media (min-width: toEm(1280)) {
      grid-template-columns: repeat(5, 1fr);
    }

    &:not(:last-child) {
      margin-bottom: toRem(10);
    }

    .widget-catalog__card {
      &:nth-child(2) {
        @media (max-width: $mobile) {
          grid-row: 3/4;
        }
      }
      &:nth-child(6) {
        @media (min-width: toEm(1280)) {
          display: none;
        }
        @media (min-width: $mobile) and (max-width: toEm(1280)) {
          grid-row: 3/4;
          grid-column: 3/4;
        }
      }
      &:nth-child(7) {
        @media (min-width: toEm(1280)) {
          display: none;
        }
      }
    }
  }

  // .widget-catalog__items
  &__items {
    @media (min-width: $mobileSmall) {
      display: grid;
      gap: toRem(10);
      grid-template-columns: repeat(2, 1fr);
    }
    @media (min-width: $mobile) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media (min-width: toEm(1280)) {
      grid-template-columns: repeat(5, 1fr);
    }
    @media (min-width: toEm(1480)) {
      grid-template-columns: repeat(6, 1fr);
    }
    @media (max-width: $mobileSmall) {
      display: none;
    }
  }

  // .widget-catalog__card
  &__card {
    // .widget-catalog__card_row2
    &_row2 {
      @media (min-width: $mobile) {
        grid-row: span 2;
      }
      @media (min-width: $mobileSmall) and (max-width: $mobile) {
        grid-column: span 2;

        .catalog-card__image {
          margin-right: toRem(-20);
          margin-bottom: toRem(-52);
        }
      }

      .catalog-card__image {
        padding-bottom: 0;
      }

      img {
        width: initial !important;
        height: initial !important;
        position: initial !important;
      }
    }
  }

  // .widget-catalog__big
  &__big {
    gap: toRem(10);
    @media (min-width: $mobileSmall) {
      grid-column: span 2;
      display: flex;
    }
    @media (max-width: $mobileSmall) {
      display: grid;
    }

    .catalog-card__image {
      margin-bottom: toRem(-20);
      @include adaptiveValue("margin-top", -61, -40, 0, 1480, 1280);
    }

    &:nth-child(1),
    &:nth-child(5) {
      .widget-catalog__card {
        flex: 0 0 100%;
      }

      .catalog-card__title {
        font-size: toRem(24);
        line-height: math.div(32, 24);
      }

      .catalog-card__image {
        margin-right: toRem(-20);
        margin-bottom: toRem(-52);
      }
    }
    &:nth-child(3),
    &:nth-child(4) {
      @media (min-width: $mobileSmall) {
        .widget-catalog__card {
          flex: 0 0 calc(50% - toRem(5));
        }
      }
    }
  }
}

.catalog-card {
  @media (any-hover: hover) {
    &:hover {
      .catalog-card__wrapper {
        background-color: #dde7ee;
      }

      .catalog-card__image {
        transform: scale(1.05) translate(-5%, -5%);
      }
    }
  }
  // .catalog-card__wrapper
  &__wrapper {
    height: 100%;
    position: relative;
    background-color: $Grey9;
    padding: toRem(20);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: toRem(250);
    transition: $transition ease background-color 0s;

    @media (min-width: $tablet) {
      padding-left: toRem(25);
    }
    @media (min-width: toEm(1280)) {
      @include adaptiveValue("min-height", 250, 230, 0, 1920, 1480);
    }

    &::before {
      content: "";
      flex: 0 0 toRem(253);
      width: toRem(253);
      height: toRem(118);
      background: url(../img/products/vector.svg) no-repeat center/cover;
      position: absolute;
      right: 0;
      bottom: 0;
      pointer-events: none;
    }
  }

  // .catalog-card__heading
  &__heading {
    &:not(:last-child) {
      margin-bottom: toRem(8);
    }
  }

  // .catalog-card__caption
  &__caption {
    @media (min-width: $mobileSmall) {
      padding-top: toRem(20);
    }
  }

  // .catalog-card__title
  &__title {
    font-weight: 700;
    font-size: toRem(18);
    line-height: math.div(24, 18);

    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 15, 8);
    }
  }

  // .catalog-card__tag
  &__tag {
    display: inline-flex;
    align-items: center;
    padding: toRem(7) toRem(12);
    gap: toRem(10);
    min-height: toRem(34);
    font-weight: 700;
    font-size: toRem(14);
    line-height: math.div(20, 14);
    color: $Primary2;
    background-color: $White;

    svg {
      flex: 0 0 toRem(16);
      width: toRem(16);
      height: toRem(16);
      fill: $Primary2;
    }
  }

  // .catalog-card__num
  &__num {
    span {
      display: inline-flex;
      padding: toRem(6) toRem(10);
      font-weight: 500;
      font-size: toRem(14);
      line-height: math.div(20, 14);
      color: $Grey2;
      background-color: $White;
    }
  }

  // .catalog-card__label
  &__label {
    position: absolute;
    font-size: toRem(12);
    line-height: math.div(18, 12);
    top: toRem(10);
    right: toRem(10);
  }

  // .catalog-card__image
  &__image {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    justify-items: flex-end;
    align-items: flex-end;
    position: relative;
    pointer-events: none;
    margin-bottom: toRem(-5);
    transition: $transition ease transform 0s;
  }
}

// .widget-products     ====================================================================================================
.widget-products {
  background-color: $Grey9;

  .swiper-arrows {
    @media (min-width: $tablet) {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-top: toRem(-78);
      margin-bottom: toRem(30);
    }
    @media (max-width: $tablet) {
      display: none;
    }
  }

  .swiper-arrow {
    flex: 0 0 toRem(48);
    width: toRem(48);
    height: toRem(48);
    border: toRem(1) solid $Grey6;
    transition: $transition ease all 0s;

    svg {
      fill: $Grey2;
    }

    @media (any-hover: hover) {
      &:hover {
        &:not(.swiper-button-disabled) {
          background-color: $Primary1;
          border-color: $Primary1;

          svg {
            fill: $White;
          }
        }
      }
    }

    &_prev {
      transform: rotate(-180deg);
    }

    &_next {
      &:not(.swiper-button-disabled) {
        background-color: $Primary1;
        border-color: $Primary1;

        svg {
          fill: $White;
        }
      }
    }
  }

  // .widget-products__tabs
  &__tabs {
    max-width: toRem($containerWidth);
    margin: 0 auto;
    @include adaptiveValue("padding-left", 20, 15, 0, 1024, 375);
    @include adaptiveValue("padding-right", 20, 15, 0, 1024, 375);

    .tabs__navigation {
      overflow-x: auto;
      overflow-y: hidden;
      scrollbar-width: thin;
      scrollbar-color: transparent transparent;

      @media (min-width: $tablet) {
        margin-right: toRem(120);
      }
      @media (max-width: $tablet) {
        @include adaptiveValue("padding-left", 20, 15, 0, 1024, 375);
        @include adaptiveValue("padding-right", 20, 15, 0, 1024, 375);
        @include adaptiveValue("margin-left", -20, -15, 0, 1024, 375);
        @include adaptiveValue("margin-right", -20, -15, 0, 1024, 375);
      }

      &::-webkit-scrollbar {
        width: 0;
        height: 0;
      }
    }

    .tabs__title {
      white-space: nowrap;
    }
  }

  // .widget-products__slider
  &__slider {
    max-width: toRem($containerWidth);
    margin: 0 auto;
    overflow: initial !important;
  }

  // .widget-products__wrapper
  &__wrapper {
  }

  // .widget-products__slide
  &__slide {
  }

  // .widget-products_white
  &_white {
    background-color: $White;

    .product-item__wrapper {
      border: toRem(1) solid $Grey6;
      box-shadow: none;
    }
  }
}

.product-item {
  height: 100%;

  @media (any-hover: hover) {
    &:hover {
      .product-item__wrapper {
        box-shadow:
          0 10px 30px 0 rgba(57, 64, 83, 0.1),
          0 2px 8px 0 rgba(0, 0, 0, 0.04);
      }
    }
  }

  // .product-item__wrapper
  &__wrapper {
    display: grid;
    align-content: flex-start;
    row-gap: toRem(15);
    height: 100%;
    padding: toRem(15);
    background-color: $White;
    box-shadow: 0 5px 10px 0 rgba(39, 44, 50, 0.04);
    position: relative;
    transition: $transition ease box-shadow 0s;

    .product-item_banner & {
      padding: 0;
      align-content: initial;
      overflow: hidden;
    }
  }

  // .product-item__banner
  &__banner {
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
    }
  }

  // .product-item__heading
  &__heading {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  // .product-item__labels
  &__labels {
    display: flex;
    align-items: center;
    gap: toRem(5);
  }

  // .product-item__label
  &__label {
    font-size: toRem(12);
    min-height: toRem(24);
  }

  // .product-item__actions
  &__actions {
    display: flex;
    align-items: center;
    gap: toRem(10);
  }

  // .product-item__action
  &__action {
    position: relative;
    z-index: 1;

    @media (any-hover: hover) {
      &:hover {
        svg {
          fill: $Primary1;
        }
      }
    }

    svg {
      transition: $transition ease fill 0s;
    }
  }

  // .product-item__image
  &__image {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: toRem(210);

    img {
      height: 100%;
      object-fit: contain;
    }
  }

  // .product-item__body
  &__body {
    display: grid;
    align-content: flex-start;
    row-gap: toRem(5);
  }

  // .product-item__code
  &__code {
    font-size: toRem(14);
    line-height: math.div(20, 14);
    color: $Grey3;
  }

  // .product-item__price
  &__price {
  }

  // .product-item__name
  &__name {
    font-weight: 500;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  // .product-item__available
  &__available {
    font-weight: 500;
    font-size: toRem(14);
    line-height: math.div(20, 14);
  }

  // .product-item__link
  &__link {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
  }

  // .product-item__button
  &__button {
    min-height: toRem(48);
    position: relative;
    background: url(../img/icons/button-rect.svg) no-repeat;
    font-weight: 500;
    font-size: toRem(16);
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: math.div(22, 16);
    width: toRem(200);
  }
}

.price {
  display: flex;
  align-items: center;
  gap: toRem(5);
  font-size: toRem(14);
  line-height: math.div(20, 14);

  // .price__label
  &__label {
    color: $Grey4;
    font-weight: 500;
  }

  // .price__current
  &__current {
    font-weight: 700;
    font-size: toRem(18);
    line-height: math.div(24, 18);
  }

  // .price__old
  &__old {
    text-decoration: line-through;
    color: $Grey4;

    &:not(:first-child) {
      margin-left: toRem(5);
    }
  }
}

// .widget-brands     ====================================================================================================
.widget-brands {
  // .widget-brands__container
  &__container {
  }

  // .widget-brands__heading
  &__heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: toRem(20);
  }

  // .widget-brands__title
  &__title {
  }

  // .widget-brands__link
  &__link {
    .btn {
      padding-top: toRem(8);
      padding-bottom: toRem(8);
      min-height: toRem(44);

      svg {
        flex: 0 0 toRem(20);
        width: toRem(20);
        height: toRem(20);
      }
    }
  }

  // .widget-brands__items
  &__items {
    display: grid;
  }

  // .widget-brands__scheme
  &__scheme {
    display: flex;
    flex-wrap: wrap;
    margin: toRem(-5);

    @media (min-width: $mobile) {
      margin: toRem(-10);
    }
  }

  .block__more {
    width: 100%;
    max-width: toRem(168);

    .btn {
      width: 100%;
    }
  }
}

.brands-item {
  padding: toRem(5);

  @media (min-width: $mobileSmall) {
    flex: 0 0 50%;
  }
  @media (min-width: $mobile) {
    padding: toRem(10);
    flex: 0 0 33.333%;
  }
  @media (min-width: toEm(1280)) {
    flex: 0 0 20%;
  }
  @media (min-width: toEm(1480)) {
    flex: 0 0 16.666%;
  }

  @media (any-hover: hover) {
    &:hover {
      .brands-item__wrapper {
        box-shadow:
          0 10px 30px 0 rgba(57, 64, 83, 0.1),
          0 2px 8px 0 rgba(0, 0, 0, 0.04);
      }
    }
  }

  // .brands-item__wrapper
  &__wrapper {
    height: 100%;
    padding: toRem(20) toRem(15);
    border: toRem(1) solid $Grey6;
    display: flex;
    flex-direction: column;
    transition: $transition ease box-shadow 0s;
  }

  // .brands-item__logo
  &__logo {
    position: relative;
    padding-bottom: toRem(60);

    &:not(:last-child) {
      margin-bottom: toRem(10);
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  // .brands-item__body
  &__body {
    flex: 1;
    display: grid;
    align-content: flex-start;

    &:not(:last-child) {
      margin-bottom: toRem(15);
    }

    & > * {
      &:not(:last-child) {
        margin-bottom: toRem(5);
      }
    }
  }

  // .brands-item__category
  &__category {
    font-weight: 700;
  }

  // .brands-item__text
  &__text {
  }

  // .brands-item__num
  &__num {
    font-weight: 500;
    font-size: toRem(14);
    color: $Grey2;
  }

  // .brands-item__button
  &__button {
    .btn {
      font-size: toRem(14);
      padding-left: toRem(10);
      padding-right: toRem(10);
      width: 100%;

      &.btn_bg-primary2 {
        background-color: rgba($color: $Primary2, $alpha: 0.1);
        color: $Primary2;

        @media (any-hover: hover) {
          transition: $transition ease all 0s;

          &:hover {
            color: $White;
            background-color: $Primary2;
          }
        }
      }
    }
  }
}

// .widget-events     ====================================================================================================
.widget-events {
  // .widget-events__container
  &__container {
  }

  // .widget-events__heading
  &__heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: toRem(20);
  }

  // .widget-events__title
  &__title {
  }

  // .widget-events__link
  &__link {
    @media (max-width: $mobile) {
      display: flex;
      justify-content: center;
      margin-top: toRem(30);
    }

    .btn {
      svg {
        flex: 0 0 toRem(20);
        width: toRem(20);
        height: toRem(20);
      }
    }
  }

  // .widget-events__tabs
  &__tabs {
    &:not(:first-child) {
      margin-top: toRem(20);
    }

    .tabs {
      // .tabs__navigation
      &__navigation {
      }
      // .tabs__title
      &__title {
        min-height: toRem(38);
        padding: toRem(6) toRem(20);
        border-color: $Grey6;

        &._tab-active {
          background-color: $Grey8;
          border-color: $Grey8;
          color: $mainColor;
        }
      }
      // .tabs__content
      &__content {
      }
      // .tabs__body
      &__body {
      }
    }
  }

  // .widget-events__slider
  &__slider {
    @media (min-width: $tablet) {
      padding-left: toRem(20);
      padding-right: toRem(20);
      margin-left: toRem(-20);
      margin-right: toRem(-20);
    }
    @media (max-width: $tablet) {
      @include adaptiveValue("margin-left", -20, -15, 0, 1024, 375);
      @include adaptiveValue("margin-right", -20, -15, 0, 1024, 375);
      @include adaptiveValue("padding-left", 20, 15, 0, 1024, 375);
      @include adaptiveValue("padding-right", 20, 15, 0, 1024, 375);
    }
  }

  // .widget-events__wrapper
  &__wrapper {
  }

  // .widget-events__slide
  &__slide {
  }
}

.event-card {
  // .event-card__wrapper
  &__wrapper {
    position: relative;
    width: 100%;

    @media (any-hover: hover) {
      &:hover {
        .event-card__preview img {
          transform: scale(1.05) translateY(-5px);
        }

        .event-card__name {
          color: $Primary2;
        }
      }
    }
  }

  // .event-card__preview
  &__preview {
    overflow: hidden;
    position: relative;
    padding-bottom: percent(240, 425);

    &:not(:last-child) {
      margin-bottom: toRem(16);
    }
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: 0.5s ease transform 0s;
    }
  }

  // .event-card__body
  &__body {
    display: grid;
    align-content: flex-start;
    row-gap: toRem(10);
  }

  // .event-card__date
  &__date {
    color: $Grey4;
  }

  // .event-card__name
  &__name {
    font-weight: 500;
    line-height: math.div(26, 20);
    transition: $transition ease color 0s;
    @include adaptiveValue("font-size", 20, 16, 1024, 375);
  }

  // .event-card__link
  &__link {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
  }
}

// .experience     ====================================================================================================
.experience {
  background-color: #f3f5f7;
  max-width: toRem(1920);
  margin-left: auto;
  margin-right: auto;

  // .experience__scheme
  &__scheme {
    display: grid;
    @media (min-width: $mobile) {
      grid-template-columns: percent(512, 1024) 1fr;
    }
    @media (min-width: toEm(1280)) {
      grid-template-columns: percent(613, 1920) 1fr;
    }

    & > * {
      @media (min-width: $tablet) {
        @include adaptiveValue("padding-top", 80, 60, 0, 1920, 1024);
        @include adaptiveValue("padding-bottom", 80, 60, 0, 1920, 1024);
        @include adaptiveValue("padding-left", 108, 40, 0, 1920, 1024);
        @include adaptiveValue("padding-right", 108, 40, 0, 1920, 1024);
      }
      @media (max-width: $tablet) {
        @include adaptiveValue("padding-top", 60, 40, 0, 1024, 768);
        @include adaptiveValue("padding-bottom", 60, 40, 0, 1024, 768);
        @include adaptiveValue("padding-left", 40, 15, 0, 1024, 375);
        @include adaptiveValue("padding-right", 40, 15, 0, 1024, 375);
      }
    }
  }

  // .experience__left
  &__left {
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    justify-items: flex-end;
    align-content: center;
    align-items: center;

    @media (min-width: $mobile) {
      background-image: url(../img/experience/experience-bg_tablet.svg);
    }
    @media (min-width: toEm(1280)) {
      background-image: url(../img/experience/experience-bg_desk.svg);
    }
    @media (max-width: $mobile) {
      background-image: url(../img/experience/experience-bg_mobile.svg);
    }
    @media (max-width: $mobile) {
      justify-content: center;
    }
  }

  // .experience__value
  &__value {
    font-weight: 500;
    line-height: 1;
    color: $Primary1;
    @include adaptiveValue("font-size", 300, 250, 0, 1024, 375);

    @media (min-width: toEm(1280)) {
      @include adaptiveValue("font-size", 300, 250, 0, 1920, 1280);
    }
  }

  // .experience__caption
  &__caption {
    text-align: right;
    max-width: toRem(165);
    color: $Grey1;
  }

  // .experience__right
  &__right {
    @media (min-width: $tablet) {
      @include adaptiveValue("padding-left", 107, 40, 0, 1920, 1024);
      @include adaptiveValue("padding-right", 107, 40, 0, 1920, 1024);
    }
    @media (max-width: $tablet) {
      @include adaptiveValue("padding-left", 40, 15, 0, 1024, 375);
      @include adaptiveValue("padding-right", 40, 15, 0, 1024, 375);
    }
  }

  // .experience__title
  &__title {
    max-width: toRem(584);

    &:not(:last-child) {
      @media (min-width: $tablet) {
        @include adaptiveValue("margin-bottom", 40, 30, 0, 1920, 1024);
      }
      @media (max-width: $tablet) {
        @include adaptiveValue("margin-bottom", 30, 20, 0, 1024, 375);
      }
    }
  }

  // .experience__items
  &__items {
    display: grid;
    @include adaptiveValue("gap", 20, 10, 0, 1920, 1024);

    @media (min-width: toEm(1280)) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  // .experience__item
  &__item {
  }
}

.experience-item {
  // .experience-item__wrapper
  &__wrapper {
    height: 100%;
    display: grid;
    align-content: flex-start;
    background-color: $White;
    box-shadow: 0 5px 10px 0 rgba(39, 44, 50, 0.04);
    @include adaptiveValue("row-gap", 10, 5, 0, 1920, 1024);

    @media (min-width: $tablet) {
      @include adaptiveValue("padding-top", 22, 15, 0, 1920, 1024);
      @include adaptiveValue("padding-bottom", 22, 15, 0, 1920, 1024);
      @include adaptiveValue("padding-left", 40, 20, 0, 1920, 1024);
      @include adaptiveValue("padding-right", 40, 20, 0, 1920, 1024);
    }
    @media (max-width: $tablet) {
      padding: toRem(20);
    }
  }

  // .experience-item__title
  &__title {
    font-weight: 500;
    color: $Primary2;
    line-height: math.div(32, 24);
    @include adaptiveValue("font-size", 24, 18, 0, 1924, 1024);
  }

  // .experience-item__text
  &__text {
    @include adaptiveValue("font-size", 18, 16, 0, 1924, 1024);
  }
}

// .useful-links     ====================================================================================================
.useful-links {
  // .useful-links__container
  &__container {
  }

  // .useful-links__nav
  &__nav {
    display: grid;
    gap: toRem(10) toRem(20);

    @media (min-width: $mobileM) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (min-width: toEm(1280)) {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  // .useful-links__items
  &__items {
    display: grid;
    align-content: flex-start;
    row-gap: toRem(10);
  }

  // .useful-links__item
  &__item {
    a {
      display: flex;
      padding: toRem(8) toRem(15);
      color: $Primary2;
      border: toRem(1) solid $Grey6;

      @media (any-hover: hover) {
        transition: $transition ease all 0s;
        &:hover {
          border: toRem(1) solid rgba($color: $Primary2, $alpha: 0.1);
          background-color: rgba($color: $Primary2, $alpha: 0.1);
        }
      }
    }
  }
}

// .catalog     ====================================================================================================
.catalog {
  background-color: $Grey9;

  &:first-child {
    margin-top: 0;
    padding-top: toRem(20);
  }
  &:last-child {
    margin-bottom: 0;
  }

  // .catalog__container
  &__container {
  }

  // .catalog__breadcrumbs
  &__breadcrumbs {
    &:not(:last-child) {
      margin-bottom: toRem(15);
    }
  }

  // .catalog__title
  &__title {
    line-height: math.div(46, 36);
    @include adaptiveValue("font-size", 36, 32, 0, 1920, 1024);

    @media (min-width: $tablet) {
      @include adaptiveValue("font-size", 36, 32, 0, 1920, 1024);
    }
    @media (max-width: $tablet) {
      @include adaptiveValue("font-size", 32, 24, 0, 1024, 375);
    }
    &:not(:last-child) {
      margin-bottom: toRem(20);
    }
  }

  // .catalog__scheme
  &__scheme {
    display: flex;
    align-items: flex-start;
    gap: toRem(20);
  }

  // .catalog__filter
  &__filter {
    @media (min-width: toEm(1280)) {
      flex: 0 0 toRem(277);
    }
  }

  // .catalog__main
  &__main {
    width: 100%;

    @media (min-width: toEm(1280)) {
      flex: 1;
    }
  }

  // .catalog__categories
  &__categories {
    display: flex;
    margin: toRem(-7.5);
    overflow-x: auto;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
  }

  // .catalog__tags
  &__tags {
  }

  // .catalog__heading
  &__heading {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: toRem(20);

    @media (max-width: toEm(1280)) {
      flex-wrap: wrap;
      row-gap: toRem(20);
    }

    &:not(:first-child) {
      margin-top: toRem(20);
    }
    &:not(:last-child) {
      margin-bottom: toRem(20);
    }
  }

  // .catalog__right
  &__right {
    flex: 1;
    display: flex;
    align-items: center;
    gap: toRem(10);

    @media (min-width: toEm(1280)) {
      justify-content: flex-end;
    }
    @media (max-width: toEm(1280)) {
      flex: 0 0 100%;
    }
    @media (max-width: $mobileM) {
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  // .catalog__filter-button
  &__filter-button {
    @media (min-width: toEm(1280)) {
      display: none;
    }
    @media (max-width: toEm(1280)) {
      flex: 1;

      &:not(:last-child) {
        margin-right: toRem(10);
      }
    }
    @media (max-width: $mobileM) {
      flex: 0 0 100%;
    }

    .btn {
      min-height: toRem(40);
      padding: toRem(6) toRem(15);
      width: 100%;

      svg {
        flex: 0 0 toRem(16);
        width: toRem(16);
        height: toRem(16);
      }
    }
  }

  // .catalog__sorting
  &__sorting {
    min-width: toRem(210);
    font-weight: 500;
    font-size: toRem(14);
    line-height: math.div(20, 14);

    @media (any-hover: hover) {
      &:hover {
        .select__title {
          border-color: $Primary2;
        }
      }
    }

    ._select-open {
      .select__title {
        border-color: $Primary2;
      }
    }

    .select__title {
      border-color: transparent;
      transition: $transition ease border-color 0s;
    }

    .select__value {
      height: toRem(40);

      &::after {
        flex: 0 0 toRem(20);
      }
    }

    .select__options {
      border-color: $Primary2;
    }
  }

  // .catalog__view
  &__view {
    display: flex;
    gap: toRem(1);

    a {
      padding: toRem(8);
      min-height: toRem(40);
      background-color: $White;
      border: toRem(1) solid transparent;
      transition: $transition ease border-color 0s;

      svg {
        fill: $Grey4;
        transition: $transition ease fill 0s;
      }

      @media (any-hover: hover) {
        &:hover {
          border-color: $Primary2;
        }
      }

      &._active {
        svg {
          fill: $Grey1;
        }
      }
    }
  }

  .catalog__items {
    display: grid;
    gap: toRem(20);

    @media (min-width: $mobileM) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (min-width: $tablet) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media (min-width: toEm(1280)) {
      grid-template-columns: repeat(4, 1fr);
    }
    @media (min-width: toEm(1640)) {
      grid-template-columns: repeat(5, 1fr);
    }
  }

  .product-item_full {
    min-height: toRem(300);

    @media (min-width: $mobileM) {
      grid-column: span 2;
    }
    @media (min-width: $tablet) {
      grid-column: span 3;
    }
    @media (min-width: toEm(1280)) {
      grid-column: span 4;
    }
    @media (min-width: toEm(1640)) {
      grid-column: span 5;
    }

    .product-item__banner {
      aspect-ratio: 360 / 300;

      @media (min-width: $mobile) {
        aspect-ratio: 984 / 300;
      }
      @media (min-width: toEm(1280)) {
        aspect-ratio: 1463 / 300;
      }
    }
  }
}

._filter-show::after {
  opacity: 1;
}

.catalog-filter {
  @media (max-width: toEm(1280)) {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 150;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: $transition ease all 0s;

    ._filter-show & {
      opacity: 1;
      visibility: visible;
      pointer-events: all;
    }
  }
  // .catalog-filter__wrapper
  &__wrapper {
    background-color: $White;
    border: toRem(1) solid $Grey7;

    @media (max-width: toEm(1280)) {
      width: 100%;
      height: 100%;
      max-width: toRem(375);
    }
    @media (max-width: $mobileM) {
      max-width: 100%;
    }
  }

  // .catalog-filter__close
  &__close {
    @media (min-width: toEm(1280)) {
      display: none;
    }
    @media (max-width: toEm(1280)) {
      z-index: 10;
      background-color: $White;
      margin-top: toRem(-10);
      margin-right: toRem(-10);

      @media (any-hover: hover) {
        transition: $transition ease transform 0s;
        &:hover {
          transform: rotate(180deg);
        }
      }

      svg {
        fill: $Grey3;
      }
    }
  }

  // .catalog-filter__form
  &__form {
    padding: toRem(25) toRem(20);
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;

    @media (max-width: toEm(1280)) {
      min-height: 100vh;
    }
    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
  }

  // .catalog-filter__inner
  &__inner {
    flex: 1;

    &:not(:last-child) {
      padding-bottom: toRem(20);
    }
  }

  // .catalog-filter__heading
  &__heading {
    display: flex;
    align-items: center;

    gap: toRem(20);

    @media (min-width: toEm(1280)) {
      justify-content: space-between;
    }

    &:not(:last-child) {
      margin-bottom: toRem(15);
    }
  }

  // .catalog-filter__caption
  &__caption {
  }

  // .catalog-filter__reset
  &__reset {
    @media (max-width: toEm(1280)) {
      flex: 1;
    }
    button {
      font-weight: 500;
      font-size: toRem(14);
      line-height: math.div(20, 14);
      color: $Primary2;

      @media (any-hover: hover) {
        transition: $transition ease opacity 0s;
        &:hover {
          opacity: 0.7;
        }
      }
    }
  }

  // .catalog-filter__range
  &__range {
    &:not(:last-child) {
      margin-bottom: toRem(22);
    }
  }

  // .catalog-filter__spollers
  &__spollers {
  }

  // .catalog-filter__item
  &__item {
    padding-top: toRem(15);
    border-top: toRem(1) solid $Grey7;
    &:not(:last-child) {
      padding-bottom: toRem(15);
    }
  }

  // .catalog-filter__body
  &__body {
    max-height: toRem(148);
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: $Grey7 transparent;
  }

  // .catalog-filter__title
  &__title {
  }

  // .catalog-filter__footer
  &__footer {
    .btn {
      width: 100%;
      font-weight: 500;
      font-size: toRem(14);
      line-height: math.div(20, 14);
    }
  }
}

.category-card {
  flex: 0 0 toRem(295);
  padding: toRem(7.5);

  // .category-card__wrapper
  &__wrapper {
    height: 100%;
    min-height: toRem(80);
    padding: toRem(9) toRem(20);
    border: toRem(1) solid $White;
    background-color: $White;
    display: grid;
    grid-template-columns: toRem(60) 1fr;
    align-items: center;
    gap: toRem(15);
    transition: $transition ease border-color 0s;

    @media (any-hover: hover) {
      &:hover {
        border-color: $Primary2;
      }
    }
  }

  // .category-card__image
  &__image {
    position: relative;
    padding-bottom: toRem(60);
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  // .category-card__body
  &__body {
    display: grid;
    align-content: flex-start;
    row-gap: toRem(5);
  }

  // .category-card__caption
  &__caption {
    font-weight: 500;
  }

  // .category-card__num
  &__num {
    color: $Grey3;
    font-size: toRem(14);
    line-height: math.div(20, 14);
  }
}

.catalog-tags {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: toRem(-2.5);

  // .catalog-tags__item
  &__item {
    padding: toRem(2.5);

    a {
      min-height: toRem(40);
      padding: toRem(10) toRem(15);
      border: toRem(1) solid $Grey9;
      background-color: $White;
      font-weight: 500;
      font-size: toRem(14);
      line-height: math.div(20, 14);
      color: $Primary2;
      white-space: nowrap;
      transition: $transition ease all 0s;

      @media (any-hover: hover) {
        &:hover {
          border-color: $Primary2;
        }
      }

      &._active {
        background-color: $Primary2;
        color: $White;
        border-color: $Primary2;
      }
    }
  }

  // .catalog-tags__more
  &__more {
    min-height: toRem(40);
    position: relative;
    margin-left: toRem(2.5);

    ul {
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 2;
      transform: translateY(100%);
      background-color: $White;
      min-width: toRem(200);
      display: grid;
      align-content: flex-start;
      padding-top: toRem(10);
      padding-bottom: toRem(10);
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      transition: $transition ease all 0s;

      li {
        padding: 0;
      }

      a {
        padding: toRem(4) toRem(10);
        font-weight: 400;
        font-size: toRem(14);
        line-height: math.div(20, 14);
        color: $mainColor;
        min-height: initial;
        border: 0;

        @media (any-hover: hover) {
          transition: $transition ease color 0s;
          &:hover {
            color: $Primary2;
          }
        }
      }
    }

    &._active {
      ul {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
      }
    }
  }

  // .catalog-tags__button
  &__button {
    padding: toRem(8);

    @media (any-hover: hover) {
      &:hover {
        svg {
          fill: $mainColor;
        }
      }
    }

    svg {
      fill: $Grey4;
      transition: $transition ease all 0s;

      ._active & {
        transform: rotate(-180deg);
        fill: $mainColor;
      }
    }
  }
}

.items-navigation {
  &:not(:first-child) {
    @include adaptiveValue("margin-top", 40, 30, 0, 1024, 375);
  }
  &:not(:last-child) {
    @media (min-width: $tablet) {
      @include adaptiveValue("margin-bottom", 80, 60, 0, 1920, 1024);
    }
    @media (max-width: $tablet) {
      @include adaptiveValue("margin-bottom", 60, 50, 0, 1024, 375);
    }
  }

  // .items-navigation__button
  &__button {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 40, 30, 0, 1024, 375);
    }

    .btn {
      width: 100%;
    }
  }

  .nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
    @include adaptiveValue("column-gap", 15, 10, 0, 1024, 375);
  }

  .page-numbers {
    flex: 0 0 toRem(40);
    width: toRem(40);
    height: toRem(40);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: toRem(1) solid $Grey7;
    background-color: $White;
    font-weight: 500;
    color: $Grey1;
    transition: $transition ease all 0s;

    @media (any-hover: hover) {
      &:hover {
        &:not(.dots) {
          background-color: $Primary1;
          color: $White;

          svg {
            fill: $White;
          }
        }
      }
    }

    &.current {
      background-color: $Primary1;
      color: $White;

      svg {
        fill: $White;
      }
    }
  }

  .page-prev {
    svg {
      transform: rotate(90deg);
    }
  }

  .page-next {
    svg {
      transform: rotate(-90deg);
    }
  }
}
//====================================================================================================
